body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    margin: 50px 0;
}

fieldset {
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid green;
    padding: 25px;
}

fieldset select {
    display: block;
    margin: 8px 0;
    font-size: 20px;
}

fieldset label {
    display: block;
    padding: 10px;
    width: fit-content;
    font-size: 16px;
}

fieldset label input:not([type="radio"]) {
    display: block;
    font-size: 20px;
    width: 800px;
    margin: 15px 0;
    padding: 5px;
}

fieldset label input[type="radio"] {
    font-size: 50px;
}   

.checkbox{
    font-size: 15px;
}

.checkbox input {
    margin-right: 10px;
}

.checkbox-title {
    font-size: 26px;
    margin: 10px 15px;
}