.pokemon {
  display: flex;
  justify-content:center;
  border: 1px solid black;
  width: 250px;
  border-radius: 20px;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  width: 70%;
  margin: 0 auto;
  gap: 30px;
}

h1 {
  text-align: center;
}