div:hover{
    border: 2px dotted gainsboro;
}

#primaria{
    color:blue;
}

#secundaria{
    color: red;
}

#complementar{
    color:rgb(233, 233, 53)
}

#escura{
    color:darkblue
}

#clara{
    color:aquamarine;
}