@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'BioRhyme', serif;;
    color: #EE964B;
    background-color: #082A49;
    
}

header{
    background-color: #2E2F2F;


}

header h1{
    color:#EE964B;
    
    display: inline-block;
    font-size: 25px;
    padding: 18px;
}

header nav{
    float: right;
    margin: 25px 50px;
}

header nav li{
    display: inline-block;
    margin: 0 15px;
}

header nav li a{
    color: #94C455;
    text-decoration: none;
    font-weight: 600;
    border-radius: 10%;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s;
}

header nav li a:hover{
    text-decoration: underline;
    color:#EE964B;
}