@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'BioRhyme', serif;;
    color: #4c4c4c;
}

header h1{
    font-size: 25px;
    background-color: #94c455;
    padding: 18px;
    margin-left: auto;
}

nav{
    background-color: #da9846;
    padding: 18px;
}
nav li{
    display: inline-block;
    margin: 0 15px ;
}

nav li a{
    text-decoration: none;
    color:#4c4c4c;
    background-color: #cd5b5f;
    border-radius: 10%;
    padding: 10px 20px;
    cursor: pointer;
}